body {
  font-family: Helvetica, Verdana, Arial, "微軟正黑體", "Microsoft JhengHei", "儷黑 Pro", "LiHei Pro", sans-serif;
}
section {
  border: 2px solid #bdc3c7;
  margin: 10px 0;
  padding: 1.5rem 1rem 1rem;
  border-radius: 8px;
  position: relative;
}
.section.is-enter {
  background-color: red;
  transform: translateY(-100px);
}
section[data-name]::before {
  z-index: 1;
  content: attr(data-name);
  pointer-events: none;
  border-radius: .25rem;
  padding: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #27ae60;
  font-size: 16px;
}

section.style-1::before {
  background-color: #3498db;
}

section.style-2::before {
  background-color: #8e44ad;
}

section section::before {
  background-color: #27ae60;
  font-size: 14px;
}

section section section::before {
  background-color: #e67e22;
}

.memo-btn{
  position: relative;
}
.memo-btn__redner-tip{
  left: 0;
  top: 0;
  padding: 2px;
  background-color:#e67e22;
  height: 100%;
  color:white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-radius:4px;
  padding: 4px 6px;
}