body{
  font-family: 'Arial', 'Microsoft JhengHei';
}
* {
  margin: 0;
  padding: 0;
}

.category-item {
  display: inline-block;
  border: 1px solid black;
  padding: 12px;
  box-sizing: border-box;
}